.root{
    margin: 10px;
}

.header{
    padding: 1.4em;
    text-align: center;
    
}
h1{
    margin: 0px;
    text-transform: capitalize;
}
.name{
    font-size: 50px;
    
    
}
.head{
    color: rebeccapurple;

}
p{
    text-transform: capitalize;
}
ul{
    list-style:none;
    margin: 0px;
}
hr{
    margin: 20px;
    border: 0.7px solid rebeccapurple

}
.hr{
    padding-bottom: 10px;
}
.box{
    padding-bottom: 1em;
    

   
}
Input{
    text-align: center;
}
.role{
    color:rebeccapurple
}
.about{
    text-align: center;
    text-transform: capitalize;
}
.about-text{
    font-size: 17px;
}
.experience{
    text-align: center;
}
.skills{
    text-align: center;

}
.education{
    text-align: center;
}
.skill-ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-li{
    margin: 0px 20px;
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1.3px;
    text-transform: capitalize;
}
.cap{
    text-transform: capitalize;
    font-size: 13px;
}