.root{
    margin: 10px;
}

.header{
    padding: 1.4em;
    text-align: center;
    
}
h1{
    margin: 0px;
    text-transform: capitalize;
}
.name{
    font-size: 50px;
    
    
}
.head{
    color: rebeccapurple;

}
p{
    text-transform: capitalize;
}
ul{
    list-style:none;
    margin: 0px;
}
hr{
    margin: 20px;
    border: 0.7px solid black

}
.box{
    padding-bottom: 1em;
   
}
Input{
    text-align: center;
}
.role{
    color:crimson
}
.about{
    text-align: center;
}
.about-text{
    font-size: 20px;
}
.experience{
    text-align: center;
}
.skills{
    text-align: center;

}
.education{
    text-align: center;
}